@import 'styles';

.footer {
  padding-top: 25px;
  background-color: $main-color;

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    width: 25%;
    align-self: stretch;
  }

  &__title {
    color: $white;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 15px;
  }

  &__catalog-item {
    list-style: none;
    margin: 8px 0;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 15px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;

    &:hover {
      color: $gold;
    }
    
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - 3px);
      left: 8px;
      width: 5px;
      height: 5px;
      border-top: 1px solid rgba(255, 255, 255, 0.5);
      border-right: 1px solid rgba(255, 255, 255, 0.5);
      transform: rotate(45deg);
      margin-left: -10px;
    }
  }

  &__contacts-link {
    color: rgba(255, 255, 255, 0.5);
    margin: 8px 0;
  }
  
  &__contacts-link {
    text-decoration: none;
    transition: 0.3s;
    
    &:hover {
      color: $gold;
    }
  }

  &__bottom-panel {
    padding: 20px 0;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 25px;
  }

  &__bottom-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__bottom-item {
    width: 50%;
  }

  &__bottom-text {
    color: $white;
  }

  &__bottom-menu-container {
    display: flex;
    justify-content: flex-end;
  }

  &__bottom-menu {
    display: flex;
    align-items: center;
    width: 320px;
  }

  &__bottom-menu-item {
    color: $white;
    width: 33.33%;
    list-style: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: $gold;
    }
  }

  &__contacts-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
  }

  &__contacts-img {
    color: $gold;
    border-radius: 50%;
    font-size: 13px;
    width: 13px;
    height: 13px;
  }

  &__contacts-text {
    padding-left: 14px;
    color: rgba(255, 255, 255, 0.5);

  }
}

@media all and (max-width: 950px) {
  .footer__item {
    width: 50%;
    margin-bottom: 25px;
  }

  .footer__item:nth-child(3),
  .footer__item:nth-child(4) {
    margin-bottom: 0;
  }
}

@media all and (max-width: 700px) {
  .footer__bottom-item {
    width: 100%;
  }

  .footer__bottom-text {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
  }

  .footer__bottom-menu-container {
    justify-content: center;
  }
}

@media all and (max-width: 550px) {
  .footer__item {
    width: 100%;
  }

  .footer__item:nth-child(3) {
    margin-bottom: 25px;
  }
}