@import 'styles';

.hits {
  padding: 25px 0;
  background-color: $grey;

  &__title {
    color: $title-color;
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 40px;
    text-align: center;
  }

  &__slider-wrapper {
    overflow: hidden;
    position: relative;
    width: 96%;
    margin: 0 auto;
  }

  &__slider-row {
    display: flex;
    justify-content: flex-start;
    width: 126%;
  }
  
  &__item {
    background-color: $white;
    padding: 20px;
    width: calc(20% - 5px);
    display: flex;
    flex-direction: column;
    margin-right: 10px;
  }

  &__item-img {
    margin-bottom: 15px;
  }
  
  &__item-image {
    width: 100%;
  }

  &__description-price,
  &__description-material {
    margin-bottom: 15px;
    text-align: center;
  }
  
  &__description-title {
    color: $title-color;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    margin-bottom: auto;
  }
  
  &__description-price {
    color: $gold;
    margin-top: 15px;
  }

  &__description-material {
    color: $grey;
    font-size: 12px;
  }

  &__description-button {
    border: 1px solid $gold;
    border-radius: 25px;
    padding: 15px 0;
    width: 190px;
    cursor: pointer;
    color: $gold;
    text-transform: uppercase;
    outline: none;
    background-color: $white;
    transition: 0.3s;
    display: block;
    margin: 0 auto;

    &:hover {
      background-color: $gold;
      color: $white;
    }
  }

  &__button-prev,
  &__button-next {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid $gold;
    outline: none;
    color: $gold;
    background-color: $white;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: $gold;
      color: $white;
    }

    &:active {
      font-size: 18px;
    }
  }

  &__button-prev {
    position: absolute;
    top: calc(50% - 25px);
    left: 15px;

  }

  &__button-next {
    position: absolute;
    top: calc(50% - 25px);
    right: 15px;

  }
}

@media all and (max-width: 1100px) {

  .hits__slider-row {
    width: 169%;
  }
}

@media all and (max-width: 800px) {
  .hits__slider-row {
    width: 254%;
  }
}

@media all and (max-width: 530px) {
  .hits__slider-row {
    width: 500%;
  }
}






