@import 'styles';

.how-to-choose {
  padding: 20px 0;
  
  &__title {
    margin-bottom: 15px;
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    text-align: center;
    margin-bottom: 15px;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &__item {
    width: 50%;
    align-self: stretch;
    padding: 15px 15px 15px 35px;
    height: 33.33%;
  }

  &__item-title {
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    margin-bottom: 10px;

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 5px);
      bottom: 0;
      left: -25px;
      width: 10px;
      height: 10px;
      background-color: $gold;
      border-radius: 50%;
    }

  }
  
  &__item-text {
    text-align: justify;
  }
}

@media all and (max-width: 950px) {
  .how-to-choose__item {
    width: 100%;
  }
}